APP_NAME=lozand
#APP_ENV=sandbox
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://lozand.local
# APP_URL="http://127.0.0.1:8000"
APP_VERSION="1.2.2"
INSTALLER_ENABLED=false
LOZAND_UTILITY_ROUTES_ENABLED=false
LOZAND_REMOTE_UPDATES_ENABLED=false
LOZAND_REMOTE_PATCHES_ENABLED=false

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lozand
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_ENCRYPTION=ssl
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME=Lozand

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

NOCAPTCHA_SECRET=
NOCAPTCHA_SITEKEY=


APP_TIMEZONE=Europe/London
BINSO_API_URL="https://binso.io/api/v1"

SOME_KEY=

NOWPAYMENT_API_KEY=

NOWPAYMENT_SECRET_KEY=

NOWPAYMENT_EMAIL=email@example.com

NOWPAYMENT_PASSWORD=

NOWPAYMENT_2FA_SECRET=


APPEND_DATE_TO_EMAILS=disabled

SEARCH_ENGINE_INDEXING=true

PRODUCT_KEY=

BINSO_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL="${APP_URL}/login/google/callback"

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL="${APP_URL}/login/github/callback"

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URL="${APP_URL}/login/facebook/callback"

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_REDIRECT_URL="${APP_URL}/login/twitter/callback"

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URL="${APP_URL}/login/linkedin/callback"

GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_REDIRECT_URL="${APP_URL}/login/gitlab/callback"

BITBUCKET_CLIENT_ID=
BITBUCKET_CLIENT_SECRET=
BITBUCKET_REDIRECT_URL="${APP_URL}/login/bitbucket/callback"

USE_VITE=

PAYSTACK_PUBLIC_KEY=

PAYSTACK_SECRET_KEY=

PAYSTACK_PAYMENT_URL=https://api.paystack.co

PAYSTACK_DEFAULT_CURRENCY=NGN

PAYSTACK_MERCHANT_EMAIL=email@example.com

RAZORPAY_KEY_ID=

RAZORPAY_KEY_SECRET=

RAZORPAY_DEFAULT_CURRENCY=INR

RAZORPAYX_ACCOUNT_NUMBER=

RAZORPAYX_KEY_ID=

RAZORPAYX_KEY_SECRET=

CRYPTOMUS_MERCHANT_UUID=

CRYPTOMUS_PAYMENT_KEY=

CRYPTOMUS_PAYOUT_KEY=

STRIPE_KEY=

STRIPE_SECRET=

STRIPE_WEBHOOK_SECRET=

STRIPE_DEFAULT_CURRENCY=usd

TEMPLATE="bento"
